<h1>Dynamic Data</h1>
<button (click)="clickAddUser()"  class="btn btn-success m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User Data</button>


<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Password</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of listData;let i = index" >
                <th scope="row">{{i+1}}</th>
                <td>{{e.name}}</td>
                <td>{{e.username}}</td>
                <td>{{e.email}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.password}}</td>
                <td (click)="showDetils(e)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><button>edit</button></td>
                <td (click)="fetchdeleteData(e)"><button>delete</button></td>

              </tr>
              <tr *ngIf="listData.length==0">
                <td scope="row">Data not available</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Data Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm">
                <div class="mb-3">
                  <label  class="form-label">Name</label>
                  <input type="text" formControlName="name"  [(ngModel)]="selectedData.name" class="form-control"  >
                </div>
                <div class="mb-3">
                    <label  class="form-label">Phone</label>
                    <input type="text" formControlName="phone" [(ngModel)]="selectedData.phone" class="form-control"  >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Email Id</label>
                    <input type="email" formControlName="email" [(ngModel)]="selectedData.email" class="form-control"  >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Username</label>
                    <input type="text" formControlName="username" [(ngModel)]="selectedData.username" class="form-control"  >
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="text" formControlName="password" [(ngModel)]="selectedData.password" class="form-control"  >
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="AddUser()" class="btn btn-primary"  data-bs-dismiss="modal" aria-label="Close">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateUser()" class="btn btn-primary">Update</button>

        </div>
      </div>
    </div>
  </div>