<h1>Reactive Forms All In One</h1>
<button routerLink="/reactive">Go to Homepage</button>
<br>
<button (click)="clickAddUser()"  class="btn btn-success m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User Data</button>

<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Password</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of Data;let i = index">
                <th scope="row">{{i+1}}</th>
                <td><img src="{{e.avtar}}" alt="Avatar" class="image"></td>
                <td>{{e.name}}</td>
                <td>{{e.username}}</td>
                <td>{{e.email}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.password}}</td>
                <td (click)="onEdit(e)" data-bs-toggle="modal" data-bs-target="#exampleModal"><button>edit</button></td>
                <td (click)="fetchdeleteData(e)"><button>delete</button></td>
              </tr>
              <tr *ngIf="Data.length==0">
                <td scope="row">Data not available</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Data Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
              <div class="form-group">
                <label for="name">Aavtar</label> 
                <div><img src="{{reader.result}}" alt="Image preview..." class="image"></div>
                <input type="file" id="fileInput" formControlName="avatar">
              </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="text" formControlName="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Id</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" formControlName="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postuserDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="editUser()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
